In [10]:
# List of numbers
numbers = [847,826,392,686,842,20,264,85,1197,226,425,726,814,760,452,418,98,861,157,1142,57,793,62,118,609,776,273,1025,1063,77,247,610,894,629,1286,436,640,250]
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)

The sum is 21083

In [12]:
a = [673765,384406,344715,440494,898746,460726,888288,542939,768949,384406,544850,978805,567146,415673] 
b = [80566,366101 ,256328,272899,512474,531998,566661,97236,708806,785960,299054,450443,817511,430205]
c = [a[i] + b[i] for i in range(len(a))]
print(c)

[754331, 750507, 601043, 713393, 1411220, 992724, 1454949, 640175, 1477755, 1170366, 843904, 1429248, 1384657, 845878]

In [17]:
list_one = [11310,9730540,5469071,5380326,262847,3277293,3062720,340762]
list_two = [9507620,1401273,8875604, 532455,8209851,1154735,3100117]
min(list_one + list_two)
print(min(list_one + list_two))

11310

In [19]:
x=[2,3,5,9,1,2,3]
z=len(x)
y=x[0]
for i in range(z):
    if y>x[i]:
        y=x[i]
print(y)

1

In [32]:
list_a = [11310,9730540,5469071,5380326,262847,3277293,3062720]
list_b = [9507620,1401273,8875604, 532455,8209851,1154735,3100117]

min_list = [value if list_b[index] > value else list_b[index] for index, value in enumerate(list_a)]

print(min_list)

[11310, 1401273, 5469071, 532455, 262847, 1154735, 3062720]

In [36]:
word = input("enter any word:")

enter any word:sentence

In [37]:
counter = 0
for char in word:
    for vowel in ['a','e','i','o','u']:
        if char.lower() == vowel:
            counter += 1
            break
print("Found {} vowels".format(counter))

Found 3 vowels

In [46]:
#convert temperature
celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [67]:

    a = float(input('Enter first side: '))
    b = float(input('Enter second side: '))
    c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

IndentationError: unexpected indent (<ipython-input-67-8b132f788fbf>, line 2)

In [69]:
num = 8 
num = float(input('Enter a number: '))
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

Enter a number: 7
The square root of 7.000 is 2.646