**SUM**

In [1]:
15696 + 7128

22824

**SUM IN LOOP**

In [2]:
# List of numbers
numbers = [847,826,392,686,842,20,264,85,1197,226,425,726,814,760,452,418,98,861,157,1142,57,793,62,118,609,776,273,1025,1063,77,247,610,894,629,1286,436,640,250]
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val
print("The sum is", sum)

The sum is 21083

**SUMS IN LOOP**

In [3]:
a = [673765,384406,344715,440494,898746,460726,888288,542939,768949,384406,544850,978805,567146,415673] 
b = [80566,366101 ,256328,272899,512474,531998,566661,97236,708806,785960,299054,450443,817511,430205]
c = [a[i] + b[i] for i in range(len(a))]
print(c)

[754331, 750507, 601043, 713393, 1411220, 992724, 1454949, 640175, 1477755, 1170366, 843904, 1429248, 1384657, 845878]

**Minimum**

In [4]:
x=[2,3,5,9,1,2,3]
z=len(x)
y=x[0]
for i in range(z):
    if y>x[i]:
        y=x[i]
print(y)

1

**Minimum of two**

In [5]:
list_a = [11310,9730540,5469071,5380326,262847,3277293,3062720]
list_b = [9507620,1401273,8875604, 532455,8209851,1154735,3100117]
a=list_a[0]
b=list_b[0]
for i in range(len(list_a)):
    if list_a[i] < list_b[i]:
        print(list_a[i])
    else:
        print(list_b[i])

11310
1401273
5469071
532455
262847
1154735
3062720

In [6]:
x=[-3809452,4434831,8948656,4759607,2545371,8652938,4756979,4057567,8662507,9565728,476747,4963958,2826604,9224399,9905506,2107970,891180,5018774,7479755,5991663,6759972,5419991 ,8506456 ,1835315 ,7885320 ,6623358,2895888] 
y =[178769, 1077280,5977444,5950860,7019139,9645624,6138145,3838307,2637120,6779409,9373698,512684,4814769,3729484 ,9287588,3903946,3457199,1942524,9740832,5065616 ,4644601 ,7997007 ,522441,9843949,2269587,1637932,1587316]
a=x[0]
r=y[0]
for i in range(len(x)):
        if x[i] < y[i]:
            print(x[i])
        else:
            print(y[i])

-3809452
1077280
5977444
4759607
2545371
8652938
4756979
3838307
2637120
6779409
476747
512684
2826604
3729484
9287588
2107970
891180
1942524
7479755
5065616
4644601
5419991
522441
1835315
2269587
1637932
1587316

**Minimum of three**

In [7]:
x= [1,2,3,4,5,6,7]
y = [3,7,8,9,11,222,55]
z = [1,4,4,8,2,5,1]
a=x[0]
b=y[0]
c=z[0]
for i in range(len(x)):
    if x[i]< y[i] and x[i] < z[i]:
        print(x[i])
    elif y[i]<x[i] and y[i] < z[i]:
            print(y[i])
    else:
        print(z[i])

1
2
3
4
2
5
1

**vowel count**

In [8]:
word = "sentence"

In [9]:
counter = 0
for char in word:
    for vowel in ['a','e','i','o','u']:
        if char.lower() == vowel:
            counter += 1
            break
print("Found {} vowels".format(counter))

Found 3 vowels

In [10]:
#convert temperature
celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [11]:
num = 8 
num = float(input('Enter a number: '))
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

Enter a number: 23
The square root of 23.000 is 4.796